*{
	padding: 0;
	margin: 0;
	background-color: #99ccff;
}

.main-container{
	width: 1000px;
	height: 100%;
	background-color: #99ccff;
	margin: auto;
}

.table-all-data,
#myTable{
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: transparent;
}

.table-all-data td,
#myTable td{
	padding: 5px;
	  border-collapse: separate; 
	border-spacing: 7px 11px; 
	border: 1px solid #aaa;
}

.title p{
	font-size: 20px;
	width: 200px;
	text-transform: uppercase;
	margin: auto;
	align : center;
	display: inline;
}

.nav{
	display: inline-block;
	padding: 20px;
}

.information{
	width: 800px;
	height: 800px;
	background-color: #fff;
	margin: auto;
	display: none;
}

.close{
	padding: 20px;
	border: 1px solid red;
	width: 20px;
	height: 20px;
	margin-left: 740px;
}